# Rust build artifacts
/target
**/target

# Ignore logs
application.log
logs/
*.log

# Ignore build output directories
/bin/

# Ignore archives
*.tar.gz

# Ignore temporary files
*.tmp
*.swp
*.DS_Store

# Ignore IDE/editor files
.vscode/
.idea/
*.iml
